<section id = "addContact">
  <form {{action "addContact" on "submit"}}>
    <label>First Name:</label>
      {{input value = firstName type = "text"}}<br>
    <label>Last Name:</label>
      {{input value = lastName type = "text"}}<br>
    <label>Phone Number:</label>
      {{input value = phone type = "text"}}<br>
  <label>  Location: </label>
      {{input value = location type = "text"}}<br>
    <button type = "submit">Add Contact </button>
  </form>
</section>
{{yield}}
